*.suo
*.csproj.user


references/

Aegis/bin/
Aegis/obj/

Samples/EchoServer/bin/
Samples/EchoServer/obj/
Samples/EchoServer_Starter/bin/
Samples/EchoServer_Starter/obj/
Samples/EchoClient/bin/
Samples/EchoClient/obj/
Samples/EchoClient_Connector/bin/
Samples/EchoClient_Connector/obj/

Examples/UDPTest/Client/bin/
Examples/UDPTest/Client/obj/
Examples/UDPTest/Server/bin/
Examples/UDPTest/Server/obj/


Aegis.Client/bin/
Aegis.Client/obj/